*.html
*.json
*.tar
*.zip
*.gz
*.bz2

# Directories of bulk data which isn't important
archive/
bets/
chrome/
covers/
db/
dropbox-local/
images/
nytprof/
odds/
pbp/
test/
tmp/

# C/C++ ignores
*.o
*.d
*.deps
predict

# Python ignores
*.pyc
