*.html
*.json

# Directories of bulk data which isn't important
archive/
bets/
chrome/
covers/
db/
dropbox-local/
images/
nytprof/
odds/
output/
pbp/
test/
tmp/

# C/C++ ignores
*.o
*.d
*.deps
predict
